---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I'm a CSE undergrad final year student from SUIIT, Burla. I enjoy creating things that live on the internet, whether that be websites, applications, or anything in between. I have been working for 2 year, with a demonstrated history of working in the Computer Software industry. Skilled in MERN Stack Development. I have 2 years of experience in HTML, CSS, JavaScript, Bootstrap, MERN-Stack, Open-Source. Hence, I have successfully completed several web projects from scratch. Yet, I learn continuously and never stop exploring new technologies. So, I have also gained knowledge of Node JS, Express JS, Mongo DB, Python, firebase and React Native with time.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor's Degree, Computer Science Engineering"
      subtitle="2019 to 2023 at Sambalpur University Institute of Information Technology, Burla, Odisha, India"
    />
    <TimeLineElement
      title="Higher Secondary Education, Science"
      subtitle="2017 to 2019 at NSMCC, Cuttack, Odisha, India"
    />
    <TimeLineElement
      title="Secondary Education"
      subtitle="2007 to 2017 at Guru Nanak Public School, Cuttack, Odisha, India"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Field Operator (Rank-2) at Twillio"
      subtitle="From Mar 2022 at San Francisco, California, United States"
      desc="I'm one of the Top 10 folks in India & Top 200 folks globally who got accepted into Twilio Field Operator. Twilio Field Operators are student leaders looking for opportunities to lead, explore new technologies, and serve their communities. Field Operators get a head-start through hands-on workshops with expert speakers and the support of our growing community."
    />
    <TimeLineElement
      title="Open-Source Contributor at GirlScript Summer Of Code"
      subtitle="From Mar 2022 - May 2022 at Mumbai, Maharashtra, India"
      desc="This was an Open Source programme for enthusiasts who enjoy contributing to projects or working on a single problem statement collaboratively to find the best possible solutions. I contributed to five projects during GSSoC'22, and seven of my PRs were successfully merged. Throughout the program, I learned something useful and got a deep dive into open source. And also secured a Rank 302 amongst 850+ contributors."
    />
    <TimeLineElement
      title="FRT Virtual Intern at Microsoft"
      subtitle="From Feb 2022 - May 2022 at Hyderabad, India"
      desc="I have successfully completed my Microsoft Future Ready Talent Virtual Internship. I learned the technologies of Microsoft Azure services and Built a project using the Azure services. My project is one of the best-selected projects for this internship. My project name was D-Matrix App. It was a Full Stack Web App. It retrieves the shortest route/distance between different destinations which is beneficial in many ways such as saving time, less usage of petrol, etc."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Extra-Curricular</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Hacker at Major League Hacking"
      subtitle="From Jan 2022 - Jan 2022 at United States"
      desc="I joined a guild of hackers and work together. I worked on building Projects & Games in JS."
    />
    <TimeLineElement
      title="Maintainer at Hacktoberfest 2022"
      subtitle="From Oct 2022 - Nov 2022 at United States"
      desc=" This year I have participated in hacktoberfest as an Maintainer. As we all know this festival was targeted for those students who don't have any idea about Open-Source, therefore my repository was very beginner friendly. I have merged 150+ pull requests. Languages used: html, css, javascript"
    />
    <TimeLineElement
      title="Contributor at Hacktoberfest 2021"
      subtitle="From Oct 2021 - Nov 2021 at United States"
      desc=" This was my first time ever to know about git, github and opensource. With the help of hacktoberfest I learned how to make an pull request. Funfact, I have sucessfully done 7+ prs and got merged into respective repositories."
    />
  </div>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Technical Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Open-Source</li>
    <li>ReactJS</li>
    <li>MongoDB</li>
    <li>ExpressJS</li>
    <li>NodeJS</li>
    <li>AngularJS</li>
    <li>DSA(Java)</li>
    <li>C++</li>
    <li>MySQL</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Astro</li>
    <li>Bootstrap</li>
    <li>Tailwind</li>
    <li>Wordpress</li>
    <li>Git</li>
    <li>GitHub</li>
    <li>Replit</li>
    <li>Postman</li>
    <li>Linux</li>
    <li>Azure Fundamentals</li>
    <li>GCP</li>
    <li>Firebase</li>
    <li>Netlify</li>
    <li>Heroku</li>

  </ul>
<br><br>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.codechef.com/certificates/public/f56c496" target="_blank"> CodeChef SnackDown21</a>
    </li>
    <li>
      <a href="https://unstop.com/certificate-preview/e93ae5f8-7eb3-4f48-aea4-be8243936088" target="_blank"> Innovaccer's HackerCamp'22 powered by Microsoft</a>
    </li>
    <li>
      <a href="https://unstop.com/certificate-preview/87d2297b-b1c5-4369-a166-e95f5ed75c2e" target="_blank"> Online Hackathon Festival(OCF) S3 of NIT Rourkela</a>
    </li>
    <li>
      <a href="https://verification.givemycertificate.com/v/ee91257e-c572-4b1a-90e7-eea46acb74d6" target="_blank"> Hack The Mountains, Hackathon</a>
    </li>
    <li>
      <a href="https://verification.givemycertificate.com/v/f1deddaa-0472-47da-bf3e-f52d504b30e6" target="_blank"> 100 Days of Code</a>
    </li>
    <li>
      <a href="https://reskilll.com/certificate/sparkar/communityhack/sra152" target="_blank"> SparkAR Community Hackathon, ReSkill</a>
    </li>
    <li>
      <a href="https://www.hackerrank.com/certificates/a45a912d1e3e" target="_blank"> Problem Solving (Intermediate) Certificate, HackerRank</a>
    </li>
  </ul>

</BaseLayout>
