---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
I'm a CSE undergrad pre-final year student from CGU, Bhubaneswar. I enjoy creating things that live on the internet, whether that be websites, applications, or anything in between. I have been working for 1 year, with a demonstrated history of working in the Computer Software industry. Skilled in MERN Stack Development. I have 1+ years of experience in HTML, CSS, JavaScript, Bootstrap, MERN-Stack, Open-Source. Hence, I have successfully completed several web projects from scratch. Yet, I learn continuously and never stop exploring new technologies. So, I have also gained knowledge of Node JS, Express JS, Mongo DB, Python, firebase and React Native with time.  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor's Degree, Computer Science Engineering"
      subtitle="2020 to 2024 at C.V Raman Global University, Bhubaneswar, Odisha, India"
    />
    <TimeLineElement
      title="Higher Secondary Education, Science"
      subtitle="2017 to 2019 at D.A.V Public School, Ranchi, Jharkhand, India"
    />
    <TimeLineElement
      title="Secondary Education"
      subtitle="2007 to 2017 at D.A.V Public School, Ranchi, Jharkhand, India"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Web-Development Intern"
      subtitle="From Feb 2022 to march 2020 "
      desc="In this internship, I gained knowledge of the fundamentals of web development, as well as HTML, CSS, and JavaScript. Over the course of five weeks, I worked on a variety of projects, such as my portfolio website."
    />
    
  </div>




  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Technical Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Open-Source</li>
    <li>ReactJS</li>
    <li>MongoDB</li>
    <li>ExpressJS</li>
    <li>NodeJS</li>
    <li>AngularJS</li>
    <li>DSA(Java)</li>
    <li>C++</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Astro</li>
    <li>Bootstrap</li>
    <li>Git</li>
    <li>GitHub</li>
    <li>Linux</li>
    <li>Front-End Development</li>
    <li>jQuery</li>
    <li>Node.js</li>

  </ul>
<br><br>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://drive.google.com/drive/folders/1kA0v0P0WUj7iUJ32_no67jmUU-eZc_TF" target="_blank"> Internship</a>
    </li>
    <li>
      <a href="https://drive.google.com/drive/folders/1xG0i5dSrpKSSUL92cd5yZAfochIvSQKa" target="_blank"> CCNA</a>
    </li>
    <li>
      <a href="https://www.cloudskillsboost.google/public_profiles/3e0732f7-5630-47af-9ccd-dcfac192f98e" target="_blank"> Google Cloud Skills Boost</a>
    </li>
    
  
  </ul>

</BaseLayout>
