---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>

    <div class="pb-12 mt-5">
      <div class="text-xl py-1">Hey there 👋</div>
      <div class="text-5xl font-bold">I'm Sakshi Bhagat</div>
      <div class="text-3xl py-3 font-bold">A Full-Stack Developer</div>
      <div class="py-2">
        <text class="text-lg">
          I'm a CSE undergrad pre-final year student from CGU, Bhubaneswar. I enjoy creating things that live on the internet, whether that be websites, applications, or anything in between. I have been working for 1 year, with a demonstrated history of working in the Computer Software industry. Skilled in MERN Stack Development. I have 1+ years of experience in HTML, CSS, JavaScript, Bootstrap, MERN-Stack, Open-Source. Hence, I have successfully completed several web projects from scratch. Yet, I learn continuously and never stop exploring new technologies. So, I have also gained knowledge of Node JS, Express JS, Mongo DB, Python, firebase and React Native with time.
          </text
        >
      </div>
      <div class="mt-8">
        <a class="btn" href="https://www.linkedin.com/in/sakshi-bhagat-644866218/" target="_blank"> Let's connect!</a>
      </div>
    </div>

    <div>
      <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
    </div>

    <HorizontalCard
    title="Weather-Web-App"
    img="/weather.jpg"
    desc="Weather-Web-App."
    url="https://github.com/28saakshii08/Weather-Web-App"
    badge="NEW"
  />
    <div class="divider my-0"></div>
  <!-- <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
    </div>

    {
      last_posts.map((post) => (
        <HorizontalCard
          title={post.frontmatter.title}
          img={post.frontmatter.heroImage}
          desc={post.frontmatter.description}
          url={post.url}
          target="_self"
        />
        <div class="divider my-0"></div>
      ))
    } -->

</BaseLayout>
